{"openapi":"3.0.0","info":{"title":"Tenders-SA Developer API","version":"2.1.0","description":"Public data access for South African tenders, awards, and supplier intelligence.","contact":{"name":"Tenders-SA Support","url":"https://tenders-sa.org/developers"}},"servers":[{"url":"https://api.tenders-sa.org","description":"Production"}],"tags":[{"name":"Tenders","description":"Tender procurement notices and search"},{"name":"Awards","description":"Contract award data and analytics"},{"name":"Organizations","description":"Government departments and entities"},{"name":"Suppliers","description":"Company and contractor intelligence"},{"name":"Directors","description":"Company director information"},{"name":"Categories","description":"Tender category reference data"},{"name":"Provinces","description":"Province-level tender and health data"},{"name":"SEO & Content","description":"Articles, authors, and SEO metadata"},{"name":"Industry","description":"Industry value benchmarks"},{"name":"Services","description":"Service type classification"},{"name":"OCDS","description":"Open Contracting Data Standard parties"},{"name":"Intelligence","description":"Market alerts and sector insights"},{"name":"Forensic","description":"Restricted suppliers and risk monitoring"},{"name":"CIPC","description":"Companies and Intellectual Property Commission data"},{"name":"Newsletters","description":"Newsletter editions"},{"name":"Documents","description":"Tender document metadata and download URLs"},{"name":"Metadata","description":"Reference data (provinces, categories, industries)"}],"components":{"securitySchemes":{"ApiKeyAuth":{"type":"http","scheme":"bearer","description":"Bearer TSA API Key"}},"schemas":{"error":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"Invalid API Key"},"code":{"type":"string","example":"INVALID_API_KEY"},"message":{"type":"string"},"requestId":{"type":"string"},"docs":{"type":"string","format":"uri"},"timestamp":{"type":"string","format":"date-time"}}},"tenders":{"type":"object","properties":{"id":{"type":"string"},"tender_id":{"type":"string"},"ocid":{"type":"string"},"title":{"type":"string"},"reference_number":{"type":"string"},"source_organization":{"type":"string"},"source_organization_id":{"type":"string"},"source_url":{"type":"string","format":"uri"},"api_source":{"type":"string"},"api_source_id":{"type":"string"},"api_version":{"type":"string"},"description":{"type":"string"},"type":{"type":"string"},"delivery":{"type":"string"},"province":{"type":"string"},"province_source":{"type":"string"},"ocds_linked_party_id":{"type":"string"},"locality":{"type":"string"},"full_address":{"type":"string"},"location_protected":{"type":"integer"},"closing_date":{"type":"string","format":"date-time"},"publication_date":{"type":"string","format":"date-time"},"estimated_value":{"type":"number","format":"float"},"publication_type":{"type":"string"},"parent_tender_id":{"type":"string"},"amendment_number":{"type":"integer"},"cancellation_reason":{"type":"string"},"status":{"type":"string"},"processing_status":{"type":"string"},"ai_title_enriched":{"type":"string"},"ai_title_fixed":{"type":"integer"},"ai_summary":{"type":"string"},"ai_key_requirements":{"type":"string"},"ai_confidence":{"type":"number","format":"float"},"ai_enrichment_status":{"type":"string"},"ai_processed_at":{"type":"string","format":"date-time"},"ai_processing_error":{"type":"string"},"document_analyzed":{"type":"integer"},"analysis_quality_score":{"type":"number","format":"float"},"analysis_confidence":{"type":"number","format":"float"},"quality_score":{"type":"number","format":"float"},"validation_errors":{"type":"string"},"is_duplicate":{"type":"integer"},"duplicate_of":{"type":"string"},"manual_review":{"type":"integer"},"review_notes":{"type":"string"},"processing_time":{"type":"integer"},"cache_hit":{"type":"integer"},"classification_confidence":{"type":"number","format":"float"},"classification_method":{"type":"string"},"classification_date":{"type":"string","format":"date-time"},"manual_override":{"type":"integer"},"briefing_session":{"type":"integer"},"briefing_compulsory":{"type":"integer"},"briefing_venue":{"type":"string"},"validity_period":{"type":"integer"},"primary_category_name":{"type":"string"},"requirements":{"type":"string"},"eligibility_criteria":{"type":"string"},"bbbee_requirements":{"type":"string"},"parsed_data":{"type":"string"},"scraped_at":{"type":"string","format":"date-time"},"last_sync_at":{"type":"string","format":"date-time"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"synced_at":{"type":"string","format":"date-time"}}},"tender-documents":{"type":"object","properties":{"id":{"type":"string"},"tender_id":{"type":"string"},"file_name":{"type":"string"},"file_url":{"type":"string","format":"uri"},"download_url":{"type":"string","format":"uri"},"file_size":{"type":"integer"},"mime_type":{"type":"string"},"storage_path":{"type":"string"},"storage_key":{"type":"string"},"processing_status":{"type":"string"},"cache_status":{"type":"string"},"processed_at":{"type":"string","format":"date-time"},"processing_error":{"type":"string"},"r2_storage_key":{"type":"string"},"r2_storage_url":{"type":"string","format":"uri"},"r2_uploaded_at":{"type":"string","format":"date-time"},"r2_file_size":{"type":"integer"},"extracted_text_length":{"type":"integer"},"extracted_at":{"type":"string","format":"date-time"},"extraction_method":{"type":"string"},"extraction_confidence":{"type":"number","format":"float"},"ai_summary":{"type":"string"},"ai_key_points":{"type":"string"},"ai_analysis":{"type":"string"},"ai_processed_at":{"type":"string","format":"date-time"},"ai_processing_error":{"type":"string"},"document_category":{"type":"string"},"priority":{"type":"string"},"download_count":{"type":"integer"},"last_accessed_at":{"type":"string","format":"date-time"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"synced_at":{"type":"string","format":"date-time"}}},"tender-bidders":{"type":"object","properties":{"id":{"type":"string"},"tender_id":{"type":"string"},"name":{"type":"string"},"normalized_name":{"type":"string"},"created_at":{"type":"string","format":"date-time"},"synced_at":{"type":"string","format":"date-time"}}},"tender-contracts":{"type":"object","properties":{"id":{"type":"string"},"tender_id":{"type":"string"},"award_id":{"type":"string"},"ocds_contract_id":{"type":"string"},"title":{"type":"string"},"status":{"type":"string"},"description":{"type":"string"},"amount":{"type":"number","format":"float"},"currency":{"type":"string"},"start_date":{"type":"string","format":"date-time"},"end_date":{"type":"string","format":"date-time"},"date_signed":{"type":"string"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"synced_at":{"type":"string","format":"date-time"}}},"tender-milestones":{"type":"object","properties":{"id":{"type":"string"},"tender_id":{"type":"string"},"ocds_milestone_id":{"type":"string"},"title":{"type":"string"},"type":{"type":"string"},"description":{"type":"string"},"code":{"type":"string"},"due_date":{"type":"string","format":"date-time"},"date_met":{"type":"string"},"date_modified":{"type":"string"},"status":{"type":"string"},"created_at":{"type":"string","format":"date-time"},"synced_at":{"type":"string","format":"date-time"}}},"tender-timeline":{"type":"object","properties":{"id":{"type":"string"},"tender_id":{"type":"string"},"event_type":{"type":"string"},"event_date":{"type":"string","format":"date-time"},"title":{"type":"string"},"description":{"type":"string"},"is_automatic":{"type":"integer"},"source":{"type":"string"},"confidence":{"type":"number","format":"float"},"created_at":{"type":"string","format":"date-time"},"synced_at":{"type":"string","format":"date-time"}}},"tender-categories":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"canonical_name":{"type":"string"},"name_lower":{"type":"string"},"description":{"type":"string"},"parent_id":{"type":"string"},"is_common_category":{"type":"integer"},"is_protected":{"type":"integer"},"display_order":{"type":"integer"},"icon_name":{"type":"string"},"aliases":{"type":"string"},"keywords":{"type":"string"},"ai_confidence":{"type":"number","format":"float"},"ai_generated":{"type":"integer"},"ai_suggested_at":{"type":"string","format":"date-time"},"match_count":{"type":"integer"},"last_matched_at":{"type":"string","format":"date-time"},"tenders_count":{"type":"integer"},"industry_id":{"type":"string"},"is_standard_industry":{"type":"integer"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"synced_at":{"type":"string","format":"date-time"}}},"tender-category-relations":{"type":"object","properties":{"id":{"type":"string"},"tender_id":{"type":"string"},"category_id":{"type":"string"},"created_at":{"type":"string","format":"date-time"},"synced_at":{"type":"string","format":"date-time"}}},"ocds-parties":{"type":"object","properties":{"id":{"type":"string"},"ocds_party_id":{"type":"string"},"name":{"type":"string"},"legal_name":{"type":"string"},"roles":{"type":"string"},"identifier_id":{"type":"string"},"identifier_scheme":{"type":"string"},"contact_name":{"type":"string"},"email":{"type":"string","format":"email"},"telephone":{"type":"string"},"fax_number":{"type":"string"},"url":{"type":"string","format":"uri"},"street_address":{"type":"string"},"locality":{"type":"string"},"region":{"type":"string"},"postal_code":{"type":"string"},"country_name":{"type":"string"},"normalized_name":{"type":"string"},"data_source":{"type":"string"},"is_protected":{"type":"integer"},"last_synced_at":{"type":"string","format":"date-time"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"synced_at":{"type":"string","format":"date-time"}}},"submission-requirements":{"type":"object","properties":{"id":{"type":"string"},"tender_id":{"type":"string"},"document_id":{"type":"string"},"category":{"type":"string"},"requirement":{"type":"string"},"is_mandatory":{"type":"integer"},"due_date":{"type":"string","format":"date-time"},"order_index":{"type":"integer"},"ai_extracted":{"type":"integer"},"confidence":{"type":"number","format":"float"},"source":{"type":"string"},"created_at":{"type":"string","format":"date-time"},"synced_at":{"type":"string","format":"date-time"}}},"tender-seo":{"type":"object","properties":{"id":{"type":"string"},"tender_id":{"type":"string"},"seo_title":{"type":"string"},"seo_description":{"type":"string"},"seo_keywords":{"type":"string"},"og_title":{"type":"string"},"og_description":{"type":"string"},"og_image":{"type":"string"},"twitter_title":{"type":"string"},"twitter_description":{"type":"string"},"twitter_image":{"type":"string"},"generated_by":{"type":"string"},"ai_model":{"type":"string"},"ai_confidence":{"type":"number","format":"float"},"prompt_tokens":{"type":"integer"},"completion_tokens":{"type":"integer"},"generated_at":{"type":"string","format":"date-time"},"expires_at":{"type":"string","format":"date-time"},"cache_hits":{"type":"integer"},"last_accessed_at":{"type":"string","format":"date-time"},"character_count":{"type":"integer"},"keyword_density":{"type":"number","format":"float"},"has_local_keywords":{"type":"integer"},"has_bbbee_keywords":{"type":"integer"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"synced_at":{"type":"string","format":"date-time"}}},"tender-slug-mappings":{"type":"object","properties":{"id":{"type":"string"},"tender_id":{"type":"string"},"slug":{"type":"string"},"old_path":{"type":"string"},"redirect_count":{"type":"integer"},"last_redirect_at":{"type":"string","format":"date-time"},"created_at":{"type":"string","format":"date-time"},"synced_at":{"type":"string","format":"date-time"}}},"awards":{"type":"object","properties":{"id":{"type":"string"},"tender_id":{"type":"string"},"etenders_award_id":{"type":"integer"},"ocds_award_id":{"type":"string"},"title":{"type":"string"},"status":{"type":"string"},"description":{"type":"string"},"award_date":{"type":"string","format":"date-time"},"amount":{"type":"number","format":"float"},"currency":{"type":"string"},"supplier_name":{"type":"string"},"supplier_id":{"type":"string"},"supplier_party_id":{"type":"string"},"enterprise_type":{"type":"string"},"bee_level":{"type":"string"},"bee_points":{"type":"number","format":"float"},"points":{"type":"number","format":"float"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"synced_at":{"type":"string","format":"date-time"}}},"award-subcontractors":{"type":"object","properties":{"id":{"type":"string"},"award_id":{"type":"string"},"name":{"type":"string"},"percentage":{"type":"number","format":"float"},"bee_level":{"type":"string"},"black_youth":{"type":"integer"},"black_women":{"type":"integer"},"black_disabled":{"type":"integer"},"black_military":{"type":"integer"},"black_rural":{"type":"integer"},"created_at":{"type":"string","format":"date-time"},"synced_at":{"type":"string","format":"date-time"}}},"organizations":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"registration_number":{"type":"string"},"tax_number":{"type":"string"},"bbbee_level":{"type":"integer"},"bbbee_certificate_url":{"type":"string","format":"uri"},"industry_codes":{"type":"string"},"provinces_operating":{"type":"string"},"organization_type":{"type":"string"},"contact_email":{"type":"string","format":"email"},"contact_email_source":{"type":"string","format":"email"},"contact_email_source_url":{"type":"string","format":"email"},"contact_email_confidence":{"type":"number","format":"email"},"contact_email_verified_at":{"type":"string","format":"email"},"contact_email_is_role_based":{"type":"integer","format":"email"},"contact_phone":{"type":"string"},"website":{"type":"string"},"physical_address":{"type":"string"},"slug":{"type":"string"},"api_source_id":{"type":"string"},"api_source":{"type":"string"},"last_validated_at":{"type":"string","format":"date-time"},"validation_status":{"type":"string"},"confidence_score":{"type":"number","format":"float"},"google_place_id":{"type":"string"},"google_rating":{"type":"number","format":"float"},"google_user_ratings_total":{"type":"integer"},"google_map_url":{"type":"string","format":"uri"},"google_website":{"type":"string"},"google_address":{"type":"string"},"google_types":{"type":"string"},"last_enriched_at":{"type":"string","format":"date-time"},"ocds_party_linked_id":{"type":"string"},"ocds_identifier_id":{"type":"string"},"ocds_last_checked_at":{"type":"string","format":"date-time"},"wikidata_id":{"type":"string"},"wikidata_label":{"type":"string"},"wikidata_description":{"type":"string"},"wikidata_last_checked_at":{"type":"string","format":"date-time"},"gov_directory_url":{"type":"string","format":"uri"},"gov_directory_last_checked_at":{"type":"string","format":"date-time"},"salga_municipality_code":{"type":"string"},"salga_last_checked_at":{"type":"string","format":"date-time"},"csd_number":{"type":"string"},"csd_last_checked_at":{"type":"string","format":"date-time"},"enrichment_sources":{"type":"string"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"synced_at":{"type":"string","format":"date-time"}}},"source-directors":{"type":"object","properties":{"id":{"type":"string"},"organization_id":{"type":"string"},"full_name":{"type":"string"},"position":{"type":"string"},"appointment_date":{"type":"string","format":"date-time"},"validated_at":{"type":"string","format":"date-time"},"validation_status":{"type":"string"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"synced_at":{"type":"string","format":"date-time"}}},"companies":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"normalized_name":{"type":"string"},"total_award_count":{"type":"integer"},"total_award_value":{"type":"number","format":"float"},"first_award_date":{"type":"string","format":"date-time"},"last_award_date":{"type":"string","format":"date-time"},"most_recent_bee_level":{"type":"string"},"most_recent_enterprise_type":{"type":"string"},"supplier_party_id":{"type":"string"},"registration_number":{"type":"string"},"director_count":{"type":"integer"},"restricted_supplier_match":{"type":"integer"},"cipc_enrichment_id":{"type":"string"},"cipc_compliance_score":{"type":"integer"},"cipc_forensic_risk_score":{"type":"integer"},"primary_province":{"type":"string"},"total_contracts":{"type":"integer"},"computed_at":{"type":"string","format":"date-time"},"synced_at":{"type":"string","format":"date-time"}}},"company-directors":{"type":"object","properties":{"id":{"type":"string"},"director_id":{"type":"string"},"cipc_enrichment_id":{"type":"string"},"company_name":{"type":"string"},"registration_no":{"type":"string"},"normalized_company_name":{"type":"string"},"role_type":{"type":"string"},"status":{"type":"string"},"appointed_date":{"type":"string","format":"date-time"},"resigned_date":{"type":"string","format":"date-time"},"director_full_name":{"type":"string"},"director_id_number_hash":{"type":"string"},"director_nationality":{"type":"string"},"director_is_foreign":{"type":"integer"},"director_is_disqualified":{"type":"integer"},"compliance_score":{"type":"integer"},"forensic_risk_score":{"type":"integer"},"synced_at":{"type":"string","format":"date-time"}}},"tender-analyses":{"type":"object","properties":{"id":{"type":"string"},"document_id":{"type":"string"},"tender_id":{"type":"string"},"submission_guidelines":{"type":"string"},"evaluation_criteria":{"type":"string"},"important_dates":{"type":"string"},"contact_information":{"type":"string"},"technical_specifications":{"type":"string"},"financial_requirements":{"type":"string"},"compliance_requirements":{"type":"string"},"evaluation_structured":{"type":"string"},"local_content_requirement":{"type":"string"},"hdi_requirement":{"type":"string"},"extraction_version":{"type":"integer"},"unclassified_content":{"type":"string"},"analysis_sections":{"type":"string"},"section_taxonomy_version":{"type":"integer"},"ai_confidence":{"type":"number","format":"float"},"ai_model":{"type":"string"},"ai_processing_time":{"type":"integer"},"ai_extraction_method":{"type":"string"},"extracted_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"synced_at":{"type":"string","format":"date-time"}}},"value-estimates":{"type":"object","properties":{"id":{"type":"string"},"tender_id":{"type":"string"},"estimated_min":{"type":"number","format":"float"},"estimated_max":{"type":"number","format":"float"},"estimated_median":{"type":"number","format":"float"},"confidence_score":{"type":"integer"},"methodology":{"type":"string"},"data_sources":{"type":"string"},"factors":{"type":"string"},"actual_award_value":{"type":"number","format":"float"},"estimation_error":{"type":"number","format":"float"},"currency":{"type":"string"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"synced_at":{"type":"string","format":"date-time"}}},"industry-benchmarks":{"type":"object","properties":{"id":{"type":"string"},"industry_id":{"type":"string"},"industry_name":{"type":"string"},"min_value":{"type":"number","format":"float"},"median_value":{"type":"number","format":"float"},"max_value":{"type":"number","format":"float"},"sample_size":{"type":"integer"},"volatility":{"type":"string"},"data_source":{"type":"string"},"sub_categories":{"type":"string"},"last_updated":{"type":"string"},"created_at":{"type":"string","format":"date-time"},"synced_at":{"type":"string","format":"date-time"}}},"intel-sources":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"base_url":{"type":"string","format":"uri"},"source_type":{"type":"string"},"integration_method":{"type":"string"},"is_active":{"type":"integer"},"last_polled_at":{"type":"string","format":"date-time"},"last_success_at":{"type":"string","format":"date-time"},"failure_count":{"type":"integer"},"synced_at":{"type":"string","format":"date-time"}}},"intel-items":{"type":"object","properties":{"id":{"type":"string"},"source_id":{"type":"string"},"external_url":{"type":"string","format":"uri"},"content_hash":{"type":"string"},"headline":{"type":"string"},"summary":{"type":"string"},"full_text":{"type":"string"},"category":{"type":"string"},"urgency":{"type":"string"},"province_codes":{"type":"string"},"department_tags":{"type":"string"},"impact_score":{"type":"integer"},"published_at":{"type":"string","format":"date-time"},"ingested_at":{"type":"string","format":"date-time"},"is_active":{"type":"integer"},"metadata":{"type":"string"},"classification_status":{"type":"string"},"key_points":{"type":"string"},"risk_flags":{"type":"string"},"affected_organizations":{"type":"string"},"relevance_score":{"type":"number","format":"float"},"synced_at":{"type":"string","format":"date-time"}}},"restricted-suppliers":{"type":"object","properties":{"id":{"type":"string"},"source_id":{"type":"string"},"supplier_name":{"type":"string"},"registration_number":{"type":"string"},"restriction_type":{"type":"string"},"restriction_reason":{"type":"string"},"period_from":{"type":"string"},"period_to":{"type":"string"},"authorized_by":{"type":"string"},"report_generated_on":{"type":"string"},"is_active":{"type":"integer"},"severity":{"type":"string"},"matched_company_id":{"type":"string"},"match_confidence":{"type":"number","format":"float"},"match_method":{"type":"string"},"pdf_hash":{"type":"string"},"last_sync_at":{"type":"string","format":"date-time"},"last_seen_in_pdf":{"type":"integer"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"synced_at":{"type":"string","format":"date-time"}}},"category-seo":{"type":"object","properties":{"id":{"type":"string"},"category_slug":{"type":"string"},"category_name":{"type":"string"},"seo_title":{"type":"string"},"seo_description":{"type":"string"},"seo_keywords":{"type":"string"},"h1_title":{"type":"string"},"intro_content":{"type":"string"},"extended_content":{"type":"string"},"faq_schema":{"type":"string"},"og_title":{"type":"string"},"og_description":{"type":"string"},"og_image":{"type":"string"},"generated_by":{"type":"string"},"ai_model":{"type":"string"},"ai_confidence":{"type":"number","format":"float"},"page_views":{"type":"integer"},"avg_time_on_page":{"type":"integer"},"bounce_rate":{"type":"number","format":"float"},"generated_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"synced_at":{"type":"string","format":"date-time"}}},"province-seo":{"type":"object","properties":{"id":{"type":"string"},"province_slug":{"type":"string"},"province_name":{"type":"string"},"seo_title":{"type":"string"},"seo_description":{"type":"string"},"seo_keywords":{"type":"string"},"h1_title":{"type":"string"},"intro_content":{"type":"string"},"extended_content":{"type":"string"},"faq_schema":{"type":"string"},"og_title":{"type":"string"},"og_description":{"type":"string"},"og_image":{"type":"string"},"generated_by":{"type":"string"},"ai_model":{"type":"string"},"ai_confidence":{"type":"number","format":"float"},"page_views":{"type":"integer"},"avg_time_on_page":{"type":"integer"},"bounce_rate":{"type":"number","format":"float"},"generated_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"synced_at":{"type":"string","format":"date-time"}}},"province-health-scores":{"type":"object","properties":{"id":{"type":"string"},"province_code":{"type":"string"},"score_date":{"type":"string","format":"date-time"},"health_score":{"type":"integer"},"status":{"type":"string"},"audit_score":{"type":"integer"},"compliance_score":{"type":"integer"},"expenditure_score":{"type":"integer"},"deviation_score":{"type":"integer"},"contributing_items":{"type":"string"},"scored_by":{"type":"string"},"notes":{"type":"string"},"synced_at":{"type":"string","format":"date-time"}}},"articles":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"title":{"type":"string"},"excerpt":{"type":"string"},"content":{"type":"string"},"status":{"type":"string"},"author_id":{"type":"string"},"author_name":{"type":"string"},"author_avatar":{"type":"string"},"category_name":{"type":"string"},"category_slug":{"type":"string"},"category_color":{"type":"string"},"tags":{"type":"string"},"seo_title":{"type":"string"},"seo_description":{"type":"string"},"seo_keywords":{"type":"string"},"featured_image":{"type":"string"},"reading_time":{"type":"integer"},"view_count":{"type":"integer"},"briefing_type":{"type":"string"},"province_slug":{"type":"string"},"week_start_date":{"type":"string","format":"date-time"},"featured_tender_ids":{"type":"string"},"published_at":{"type":"string","format":"date-time"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"synced_at":{"type":"string","format":"date-time"}}},"authors":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"bio":{"type":"string"},"avatar":{"type":"string"},"role":{"type":"string"},"twitter_handle":{"type":"string"},"linkedin_url":{"type":"string","format":"uri"},"expertise":{"type":"string"},"allowed_categories":{"type":"string"},"preferred_archetypes":{"type":"string"},"forbidden_archetypes":{"type":"string"},"tone_rules":{"type":"string"},"structure_rules":{"type":"string"},"cooldown_days_by_topic":{"type":"string"},"banned_phrases":{"type":"string"},"max_posts_per_week":{"type":"integer"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"synced_at":{"type":"string","format":"date-time"}}},"newsletter-editions":{"type":"object","properties":{"id":{"type":"string"},"newsletter_type_id":{"type":"string"},"title":{"type":"string"},"content":{"type":"string"},"status":{"type":"string"},"scheduled_for":{"type":"string"},"sent_at":{"type":"string","format":"date-time"},"recipient_count":{"type":"integer"},"open_rate":{"type":"number","format":"float"},"click_rate":{"type":"number","format":"float"},"generated_with_ai":{"type":"integer"},"metadata":{"type":"string"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"synced_at":{"type":"string","format":"date-time"}}},"service-types":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"description":{"type":"string"},"price":{"type":"number","format":"float"},"currency":{"type":"string"},"is_active":{"type":"integer"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"synced_at":{"type":"string","format":"date-time"}}},"keys":{"type":"object","properties":{"id":{"type":"string"},"user_id":{"type":"string"},"key_hash":{"type":"string"},"name":{"type":"string"},"key_prefix":{"type":"string"},"key_last_chars":{"type":"string"},"tier":{"type":"string"},"status":{"type":"string"},"daily_limit":{"type":"integer"},"monthly_limit":{"type":"integer"},"calls_today":{"type":"integer"},"calls_this_month":{"type":"integer"},"last_call_date":{"type":"string","format":"date-time"},"last_used_at":{"type":"string","format":"date-time"},"expires_at":{"type":"string","format":"date-time"},"sync_status":{"type":"string"},"last_synced_at":{"type":"string","format":"date-time"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"synced_at":{"type":"string","format":"date-time"}}},"usage-log":{"type":"object","properties":{"id":{"type":"string"},"api_key_id":{"type":"string"},"endpoint":{"type":"string"},"method":{"type":"string"},"status_code":{"type":"integer"},"response_time_ms":{"type":"integer"},"user_agent":{"type":"string"},"ip_address":{"type":"string"},"tier":{"type":"string"},"error_message":{"type":"string"},"created_at":{"type":"string","format":"date-time"}}},"sync-meta":{"type":"object","properties":{"entity":{"type":"string"},"cursor":{"type":"string"},"page":{"type":"integer"},"mode":{"type":"string"},"backfill_complete":{"type":"integer"},"last_full_sync_at":{"type":"string","format":"date-time"},"last_incremental_sync_at":{"type":"string","format":"date-time"},"rows_synced_total":{"type":"integer"},"last_error":{"type":"string"},"last_error_at":{"type":"string","format":"date-time"},"consecutive_failures":{"type":"integer"},"updated_at":{"type":"string","format":"date-time"}}},"cron-runs":{"type":"object","properties":{"id":{"type":"string"},"started_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time"},"status":{"type":"string"},"entity":{"type":"string"},"rows_synced":{"type":"integer"},"pages":{"type":"integer"},"cpu_time_ms":{"type":"integer"},"error_message":{"type":"string"},"invocation_id":{"type":"string"}}}},"responses":{"Unauthorized":{"description":"Invalid or missing API Key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"NotFound":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}}}},"paths":{"/v2/meta/status":{"get":{"tags":["Metadata"],"summary":"API Health and Sync Status","description":"Returns entity counts across all D1 tables, last cron run status, and worker version. No auth required.","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/v2/meta/provinces":{"get":{"tags":["Metadata"],"summary":"List Provinces with Tender Counts","description":"Returns all provinces known in the tender database with their tender counts. No auth required.","responses":{"200":{"description":"OK"}}}},"/v2/meta/categories":{"get":{"tags":["Metadata"],"summary":"List Categories with Tender Counts","description":"Returns all tender categories with their tender counts. No auth required.","responses":{"200":{"description":"OK"}}}},"/v2/meta/usage":{"get":{"tags":["Metadata"],"summary":"Current API Key Usage","description":"Returns daily and monthly call counts for the authenticated API key, plus rate limits.","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"OK"}}}},"/v2/meta/industries":{"get":{"tags":["Metadata"],"summary":"Industry Value Benchmarks Summary","description":"Returns industry benchmarks with sample sizes and median values.","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"OK"}}}},"/v2/tenders":{"get":{"tags":["Tenders"],"summary":"List Tenders","description":"Cursor-based paginated list of tenders. Supports `limit` and `cursor` query params.","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"limit","in":"query","schema":{"type":"integer","default":20}},{"name":"cursor","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/tenders/search":{"get":{"tags":["Tenders"],"summary":"Search Tenders","description":"Full-text search across tenders.","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","schema":{"type":"integer","default":20}}],"responses":{"200":{"description":"OK"}}}},"/v2/tenders/closing-soon":{"get":{"tags":["Tenders"],"summary":"Tenders Closing Soon","description":"Tenders approaching their closing date.","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"limit","in":"query","schema":{"type":"integer","default":20}}],"responses":{"200":{"description":"OK"}}}},"/v2/tenders/new":{"get":{"tags":["Tenders"],"summary":"Recently Published Tenders","description":"Tenders published most recently.","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"limit","in":"query","schema":{"type":"integer","default":20}}],"responses":{"200":{"description":"OK"}}}},"/v2/tenders/bbbee-required":{"get":{"tags":["Tenders"],"summary":"Tenders Requiring B-BBEE","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"limit","in":"query","schema":{"type":"integer","default":20}}],"responses":{"200":{"description":"OK"}}}},"/v2/tenders/value-range":{"get":{"tags":["Tenders"],"summary":"Tenders by Value Range","description":"Filter tenders by estimated value range.","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"min","in":"query","schema":{"type":"number"}},{"name":"max","in":"query","schema":{"type":"number"}}],"responses":{"200":{"description":"OK"}}}},"/v2/tenders/counts/province":{"get":{"tags":["Tenders"],"summary":"Tender Counts by Province","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"OK"}}}},"/v2/tenders/counts/category":{"get":{"tags":["Tenders"],"summary":"Tender Counts by Category","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"OK"}}}},"/v2/tenders/counts/organization":{"get":{"tags":["Tenders"],"summary":"Tender Counts by Organization","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"OK"}}}},"/v2/tenders/counts/status":{"get":{"tags":["Tenders"],"summary":"Tender Counts by Status","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"OK"}}}},"/v2/tenders/by-province/{province}":{"get":{"tags":["Tenders"],"summary":"Tenders by Province","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"province","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/tenders/by-organization/{orgId}":{"get":{"tags":["Tenders"],"summary":"Tenders by Organization","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/tenders/by-publication-type/{type}":{"get":{"tags":["Tenders"],"summary":"Tenders by Publication Type","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"type","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/tenders/by-category/{category}":{"get":{"tags":["Tenders"],"summary":"Tenders by Category","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"category","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/tenders/{id}":{"get":{"tags":["Tenders"],"summary":"Get Tender Detail","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/tenders/{id}/awards":{"get":{"tags":["Tenders"],"summary":"Tender Awards","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/tenders/{id}/contracts":{"get":{"tags":["Tenders"],"summary":"Tender Contracts","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/tenders/{id}/milestones":{"get":{"tags":["Tenders"],"summary":"Tender Milestones","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/tenders/{id}/documents":{"get":{"tags":["Tenders"],"summary":"Tender Documents","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/tenders/{id}/bidders":{"get":{"tags":["Tenders"],"summary":"Tender Bidders","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/tenders/{id}/submission-requirements":{"get":{"tags":["Tenders"],"summary":"Submission Requirements","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/tenders/{id}/timeline":{"get":{"tags":["Tenders"],"summary":"Tender Timeline","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/tenders/{id}/analysis":{"get":{"tags":["Tenders"],"summary":"Tender AI Analysis","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/tenders/{id}/value-estimate":{"get":{"tags":["Tenders"],"summary":"Tender Value Estimate","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/tenders/{id}/seo":{"get":{"tags":["Tenders"],"summary":"Tender SEO Metadata","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/tenders/{id}/slug":{"get":{"tags":["Tenders"],"summary":"Tender Slug Mapping","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/tenders/{id}/related":{"get":{"tags":["Tenders"],"summary":"Related Tenders","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/awards":{"get":{"tags":["Awards"],"summary":"List Awards","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"limit","in":"query","schema":{"type":"integer","default":20}},{"name":"cursor","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/awards/analytics":{"get":{"tags":["Awards"],"summary":"Award Market Analytics","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"OK"}}}},"/v2/awards/analytics/province":{"get":{"tags":["Awards"],"summary":"Award Analytics by Province","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"OK"}}}},"/v2/awards/analytics/category":{"get":{"tags":["Awards"],"summary":"Award Analytics by Category","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"OK"}}}},"/v2/awards/analytics/bee-level":{"get":{"tags":["Awards"],"summary":"Award Analytics by B-BBEE Level","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"OK"}}}},"/v2/awards/analytics/enterprise-type":{"get":{"tags":["Awards"],"summary":"Award Analytics by Enterprise Type","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"OK"}}}},"/v2/awards/by-tender/{tenderId}":{"get":{"tags":["Awards"],"summary":"Awards by Tender","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"tenderId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/awards/by-supplier/{name}":{"get":{"tags":["Awards"],"summary":"Awards by Supplier Name","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/awards/by-supplier-party/{partyId}":{"get":{"tags":["Awards"],"summary":"Awards by Supplier Party ID","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"partyId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/awards/by-date-range":{"get":{"tags":["Awards"],"summary":"Awards by Date Range","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"from","in":"query","schema":{"type":"string","format":"date"}},{"name":"to","in":"query","schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK"}}}},"/v2/awards/{id}":{"get":{"tags":["Awards"],"summary":"Get Award Detail","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/awards/{id}/subcontractors":{"get":{"tags":["Awards"],"summary":"Award Subcontractors","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/organizations":{"get":{"tags":["Organizations"],"summary":"List Organizations","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"limit","in":"query","schema":{"type":"integer","default":20}},{"name":"cursor","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/organizations/search":{"get":{"tags":["Organizations"],"summary":"Search Organizations","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/organizations/counts-by-type":{"get":{"tags":["Organizations"],"summary":"Organization Counts by Type","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"OK"}}}},"/v2/organizations/{id}":{"get":{"tags":["Organizations"],"summary":"Get Organization Detail","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/organizations/{id}/tenders":{"get":{"tags":["Organizations"],"summary":"Organization Tenders","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/organizations/{id}/directors":{"get":{"tags":["Organizations"],"summary":"Organization Directors","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/organizations/by-registration/{reg}":{"get":{"tags":["Organizations"],"summary":"Get Organization by Registration Number","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"reg","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/organizations/by-slug/{slug}":{"get":{"tags":["Organizations"],"summary":"Get Organization by Slug","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/companies":{"get":{"tags":["Suppliers"],"summary":"List Companies","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"limit","in":"query","schema":{"type":"integer","default":20}},{"name":"cursor","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/companies/search":{"get":{"tags":["Suppliers"],"summary":"Search Companies","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/companies/top":{"get":{"tags":["Suppliers"],"summary":"Top Companies","description":"Top companies by award value or count.","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"limit","in":"query","schema":{"type":"integer","default":20}}],"responses":{"200":{"description":"OK"}}}},"/v2/companies/{name}":{"get":{"tags":["Suppliers"],"summary":"Get Company Profile","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/companies/{name}/awards":{"get":{"tags":["Suppliers"],"summary":"Company Awards","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/companies/{name}/contracts":{"get":{"tags":["Suppliers"],"summary":"Company Contracts","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/companies/{name}/tenders":{"get":{"tags":["Suppliers"],"summary":"Company Tenders","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/companies/{name}/directors":{"get":{"tags":["Suppliers"],"summary":"Company Directors","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/companies/by-registration/{reg}":{"get":{"tags":["Suppliers"],"summary":"Get Company by Registration Number","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"reg","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/directors":{"get":{"tags":["Directors"],"summary":"List Directors","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"limit","in":"query","schema":{"type":"integer","default":20}},{"name":"cursor","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/directors/search":{"get":{"tags":["Directors"],"summary":"Search Directors","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/directors/{id}":{"get":{"tags":["Directors"],"summary":"Get Director Detail","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/directors/by-organization/{orgId}":{"get":{"tags":["Directors"],"summary":"Directors by Organization","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/categories":{"get":{"tags":["Categories"],"summary":"List Tender Categories","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"OK"}}}},"/v2/categories/{id}":{"get":{"tags":["Categories"],"summary":"Get Category Detail","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/categories/by-slug/{slug}":{"get":{"tags":["Categories"],"summary":"Get Category by Slug","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/provinces":{"get":{"tags":["Provinces"],"summary":"List Provinces","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"OK"}}}},"/v2/provinces/{id}":{"get":{"tags":["Provinces"],"summary":"Get Province Detail","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/provinces/{id}/health-scores":{"get":{"tags":["Provinces"],"summary":"Province Health Scores","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/seo/category/{slug}":{"get":{"tags":["SEO & Content"],"summary":"Category SEO Data","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/seo/province/{slug}":{"get":{"tags":["SEO & Content"],"summary":"Province SEO Data","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/articles":{"get":{"tags":["SEO & Content"],"summary":"List Articles","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"limit","in":"query","schema":{"type":"integer","default":20}},{"name":"cursor","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/articles/{id}":{"get":{"tags":["SEO & Content"],"summary":"Get Article","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/authors/{id}":{"get":{"tags":["SEO & Content"],"summary":"Get Author","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/industry/benchmarks":{"get":{"tags":["Industry"],"summary":"List Industry Benchmarks","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"OK"}}}},"/v2/industry/benchmarks/{id}":{"get":{"tags":["Industry"],"summary":"Get Industry Benchmark","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/services":{"get":{"tags":["Services"],"summary":"List Service Types","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"OK"}}}},"/v2/services/{id}":{"get":{"tags":["Services"],"summary":"Get Service Type","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/ocds/parties":{"get":{"tags":["OCDS"],"summary":"List OCDS Parties","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"limit","in":"query","schema":{"type":"integer","default":20}},{"name":"cursor","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/ocds/parties/{id}":{"get":{"tags":["OCDS"],"summary":"Get OCDS Party","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/intel/sources":{"get":{"tags":["Intelligence"],"summary":"List Intel Sources","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"OK"}}}},"/v2/intel/sources/{id}":{"get":{"tags":["Intelligence"],"summary":"Get Intel Source","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/intel/items":{"get":{"tags":["Intelligence"],"summary":"List Intel Items","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"limit","in":"query","schema":{"type":"integer","default":20}},{"name":"cursor","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/intel/items/{id}":{"get":{"tags":["Intelligence"],"summary":"Get Intel Item","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/forensic/restricted-suppliers":{"get":{"tags":["Forensic"],"summary":"List Restricted Suppliers","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"limit","in":"query","schema":{"type":"integer","default":20}},{"name":"cursor","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/forensic/restricted-suppliers/{id}":{"get":{"tags":["Forensic"],"summary":"Get Restricted Supplier Detail","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/forensic/restricted-suppliers/match":{"get":{"tags":["Forensic"],"summary":"Match Supplier Against Restricted List","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/forensic/restricted-suppliers/check":{"get":{"tags":["Forensic"],"summary":"Check Supplier Against Restricted List","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/cipc/enrichments":{"get":{"tags":["CIPC"],"summary":"List CIPC Enrichments","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"limit","in":"query","schema":{"type":"integer","default":20}},{"name":"cursor","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/cipc/enrichments/{id}":{"get":{"tags":["CIPC"],"summary":"Get CIPC Enrichment","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/cipc/directors":{"get":{"tags":["CIPC"],"summary":"List CIPC Directors","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"limit","in":"query","schema":{"type":"integer","default":20}},{"name":"cursor","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/cipc/directors/{id}":{"get":{"tags":["CIPC"],"summary":"Get CIPC Director","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/newsletters":{"get":{"tags":["Newsletters"],"summary":"List Newsletter Editions","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"limit","in":"query","schema":{"type":"integer","default":20}},{"name":"cursor","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/newsletters/{id}":{"get":{"tags":["Newsletters"],"summary":"Get Newsletter Edition","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/documents/{id}":{"get":{"tags":["Documents"],"summary":"Get Document Metadata","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/v2/documents/{id}/download-url":{"get":{"tags":["Documents"],"summary":"Get Document Download URL","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}}}}